# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Project EleSpirit.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\Project-EleSpirit\Project EleSpirit\.idea\.idea.Project EleSpirit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
